
.social-menu{
    text-align: center;
    color: white;
    height: 100px;
    font-style: italic;
    text-shadow: blue;
}
.fa{
 padding-top: 15px;   
 padding-bottom: 25px;
display: inline-flex;
text-decoration: none;
color: white;
border: 1px solid white;
padding: 15px 15px;
margin: 0 15px;
font-size: 25pt;
justify-content: center;
width: 40px;
height: 40px;
align-items: center;
border-radius: 15px;
transition: 0.2s;
}
.fa:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}
.btn{
    background-color: rgb(19, 112, 233);
    border: 1px solid rgb(23, 8, 235);
    color: rgb(250, 245, 245);

}
.intro{
    color: gray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.com{
    text-shadow: black;
}
